legacy/n8n/retry_cron_workflow.json
{
  "name": "EasyForm - Retry & Discard Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "minutes", "minutesInterval": 30}
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT USER_ID, EMAIL, ATTEMPT_COUNT, MISSING_FIELDS, VALIDATION_ERRORS, EXTRACTED_SO_FAR FROM EASYFORM.APP.PENDING_DUE_FOR_RETRY;"
      },
      "id": "select-due",
      "name": "Snowflake: Find Due for Retry",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [480, 240],
      "credentials": {
        "snowflake": {
          "id": "REPLACE_WITH_SNOWFLAKE_CREDENTIAL_ID",
          "name": "EasyForm Snowflake"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-due",
      "name": "Split Due Rows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 240]
    },
    {
      "parameters": {
        "jsCode": "// Pick the right template based on the (next) attempt number.\n// attempt_count in DB is the COUNT OF EMAILS ALREADY SENT.\n// Next email being sent will be attempt = attempt_count + 1.\nconst d = items[0].json;\nconst nextAttempt = (d.ATTEMPT_COUNT || 1) + 1; // 2 or 3\nconst missing = (typeof d.MISSING_FIELDS === 'string' ? JSON.parse(d.MISSING_FIELDS) : (d.MISSING_FIELDS || [])).map(f => '  - ' + f).join('\\n') || '  (none)';\nconst rawErrs = typeof d.VALIDATION_ERRORS === 'string' ? JSON.parse(d.VALIDATION_ERRORS) : (d.VALIDATION_ERRORS || []);\nconst errs = rawErrs.map(e => `  - [${e.code}] ${e.detail}`).join('\\n') || '  (none)';\nconst extracted = typeof d.EXTRACTED_SO_FAR === 'string' ? JSON.parse(d.EXTRACTED_SO_FAR) : (d.EXTRACTED_SO_FAR || {});\nconst name = extracted.name || 'there';\n\nlet subject, text;\nif (nextAttempt === 2) {\n  subject = 'Reminder: your exam application is paused — please reply';\n  text = `Hi ${name},\\n\\nThis is a friendly reminder. We're still waiting on a few details before we can complete\\nyour exam application. Without these, we won't be able to submit on your behalf.\\n\\n--- Information we still need ---\\n${missing}\\n\\n--- Issues with the documents you sent ---\\n${errs}\\n\\nWe've sent this reminder because we didn't receive a reply to our earlier email.\\nPlease respond within the next 6 hours.\\n\\nReference ID: ${d.USER_ID}\\n\\n— EasyForm`;\n} else {\n  subject = 'Final reminder: your exam application will be cancelled';\n  text = `Hi ${name},\\n\\nThis is the final reminder. We've reached out twice asking for the items below\\nand haven't heard back. If we don't receive a reply within the next 6 hours,\\nyour application will be cancelled and the partial data we hold will be discarded.\\n\\n--- Information we still need ---\\n${missing}\\n\\n--- Issues with the documents you sent ---\\n${errs}\\n\\nIf you do want to continue, simply reply to this email with the missing information\\nand corrected documents.\\n\\nReference ID: ${d.USER_ID}\\n\\n— EasyForm`;\n}\n\nreturn [{ json: { ...d, _next_attempt: nextAttempt, _email_subject: subject, _email_text: text } }];"
      },
      "id": "render-email",
      "name": "Render Reminder Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 240]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EASYFORM_FROM_EMAIL }}",
        "toEmail": "={{ $json.EMAIL }}",
        "subject": "={{ $json._email_subject }}",
        "text": "={{ $json._email_text }}",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1200, 240],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "EasyForm SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE EASYFORM.APP.PENDING_REQUESTS SET ATTEMPT_COUNT = :1, LAST_EMAIL_SENT_AT = CURRENT_TIMESTAMP(), NEXT_RETRY_AT = DATEADD(hour, 6, CURRENT_TIMESTAMP()), UPDATED_AT = CURRENT_TIMESTAMP() WHERE USER_ID = :2;",
        "additionalFields": {
          "queryParams": "={{ $json._next_attempt }},{{ $json.USER_ID }}"
        }
      },
      "id": "bump-attempt",
      "name": "Snowflake: Bump Attempt Counter",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [1440, 240],
      "credentials": {
        "snowflake": {
          "id": "REPLACE_WITH_SNOWFLAKE_CREDENTIAL_ID",
          "name": "EasyForm Snowflake"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE EASYFORM.APP.PENDING_REQUESTS SET STATUS = 'discarded', UPDATED_AT = CURRENT_TIMESTAMP() WHERE USER_ID IN (SELECT USER_ID FROM EASYFORM.APP.PENDING_TO_DISCARD);"
      },
      "id": "discard-stale",
      "name": "Snowflake: Discard 3-Attempt Stale",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [480, 460],
      "credentials": {
        "snowflake": {
          "id": "REPLACE_WITH_SNOWFLAKE_CREDENTIAL_ID",
          "name": "EasyForm Snowflake"
        }
      }
    }
  ],
  "connections": {
    "Every 30 minutes": {
      "main": [[
        {"node": "Snowflake: Find Due for Retry", "type": "main", "index": 0},
        {"node": "Snowflake: Discard 3-Attempt Stale", "type": "main", "index": 0}
      ]]
    },
    "Snowflake: Find Due for Retry": {
      "main": [[{"node": "Split Due Rows", "type": "main", "index": 0}]]
    },
    "Split Due Rows": {
      "main": [[{"node": "Render Reminder Email", "type": "main", "index": 0}]]
    },
    "Render Reminder Email": {
      "main": [[{"node": "Send Reminder", "type": "main", "index": 0}]]
    },
    "Send Reminder": {
      "main": [[{"node": "Snowflake: Bump Attempt Counter", "type": "main", "index": 0}]]
    },
    "Snowflake: Bump Attempt Counter": {
      "main": [[{"node": "Split Due Rows", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{"name": "easyform"}]
}
